{% extends "base.html" %}
{% load static %}
{% load my_tags %}

{% block content %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><span class="breadcumbs-links-item">{% if user.is_staff %}Заказы клиентов{% else %}Мои заказы{% endif %}</span></li>
                </ul>
            </div>
        </div>
        <section class="catalog">
            <div class="order-list{% if user.is_staff %}-admin-view{% endif %}">
{##}
{#            <form method="get" action="">#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-first-name">Имя</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-first-name" class="txt-box order-txt-box" type="text" value="{{ first_name }}" name="first-name"/>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-last-name">Фамилия</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-last-name" class="txt-box order-txt-box" type="text" value="{{ last_name }}" name="last-name"/>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-login">Логин</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-login" class="txt-box order-txt-box" type="text" value="{{ login }}" name="login"/>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-email">Email</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-email" class="txt-box order-txt-box" type="text" value="{{ email }}" name="email"/>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-phone">Телефон</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-phone" class="txt-box order-txt-box" type="text" value="{{ phone }}" name="phone"/>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="order-filter-item-container">#}
{#                    <p class="order-order-filter-item-label"><label for="order-filter-address">Адрес доставки</label></p>#}
{#                    <div class="order-filter-item-control">#}
{#                        <input id="order-filter-address" class="txt-box order-txt-box" type="text" value="{{ address }}" name="address"/>#}
{#                    </div>#}
{#                </div>#}
{#                <input class="red-btn order-filter-btn wo-padding-top" type="submit" value="Фильтровать">#}
{#            </form>#}
{##}
                <div class="order-list-content-table">

                        <div class="order-list-table-row">
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                Заказ №
                            </div>
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                Дата заказа
                            </div>
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                Статус заказа
                            </div>
                            {% if not user.is_staff %}
                                <div class="order-list-table-cel">
                                    Стоимость
                                </div>
                            {% endif %}
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                Товары
                            </div>
                            {% if user.is_staff %}
                                <div class="order-list-table-cel-admin-view">
                                    Клиент
                                </div>
                            {% endif %}
                            {% if user.is_staff %}
                                <div class="order-list-table-cel-admin-view">
                                    Действие
                                </div>
                            {% endif %}
                        </div>

                    {% for item in object_list %}
                        <div class="order-list-table-row">
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                {{ item.pk }}
                            </div>
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                {{ item.order_date }}
                            </div>
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                {{ item.status.name }}
                                {% if user.is_staff %}
                                    <br>
                                    ({{ item.status_change_date }})
                                {% endif %}
                            </div>
                            {% if not user.is_staff %}
                                <div class="order-list-table-cel">
                                    {{ item.items.all|total_sum:'total_price' }}
                                </div>
                            {% endif %}
                            <div class="order-list-table-cel{% if user.is_staff %}-admin-view{% endif %}">
                                <div class="order-list-content-table">
                                {% for prod in  item.items.all%}
                                    <div class="order-list-table-row">
                                        <div class="order-list-table-cel">
                                            {{ prod.product.name }}
                                        </div>
                                        <div class="order-list-table-cel">
                                            {{ prod.count }}{% if not user.is_staff %} кг.{% endif %}
                                        </div>
                                        <div class="order-list-table-cel">
                                            {{ prod.price }}{% if not user.is_staff %} руб.{% endif %}
                                        </div>
                                    </div>
                                {% endfor %}

                                {% if user.is_staff %}
                                    <div class="order-list-table-row">
                                        <div class="order-list-table-cel">
                                        Итого: {{ item.items.all|total_sum:'total_price' }} руб.
                                        </div>
                                    </div>
                                {% endif %}

                                </div>
                            </div>

                            {% if user.is_staff %}
                                <div class="order-list-table-cel-admin-view">
                                    <ul>
                                        <li>{{ item.user.first_name }} {{ item.user.last_name }}</li>
                                        <li>{{ item.profile.address }}</li>
                                        <li>{{ item.profile.phone }}</li>
                                        <li><a class="add-comment" href="" data-order-id="{{ item.pk }}">Комментарий:</a> <span data-order-id="{{ item.pk }}">{{ item.comment }}</span></li>
                                    </ul>
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}

                </div>

            <div class="paginator clearfix">
                <ul class="paginator-links">

                    {% if page_obj.has_previous %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast" href="?page={{ page_obj.previous_page_number }}&first-name={{ first_name }}&last-name={{ last_name }}&login={{ login }}&email={{ email }}&address={{ address }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}

                    {% for page_num in paginator.num_pages|my_range %}
                        <li><a class="paginator-btn--contrast paginator-btn--contrast {% if page_num == page_obj.number %}paginator-btn--active--contrast{% endif %}" {% if page_num != page_obj.number %}href="?page={{ page_num }}&first-name={{ first_name }}&last-name={{ last_name }}&login={{ login }}&email={{ email }}&address={{ address }}"{% endif %}>{{ page_num }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast" href="?page={{ page_obj.next_page_number }}&first-name={{ first_name }}&last-name={{ last_name }}&login={{ login }}&email={{ email }}&address={{ address }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
        </section>

    </div>

    <section class="create-profile hideme">
        <div class="create-profile-container clearfix">
            <button class="create-profile-form-close-btn" type="button" title="Закрыть">Закрыть</button>
            <p class="create-profile-title">
                Комментарий к заказу
            </p>
            <form class="create-profile-form clearfix">
                {% include 'inc_create_profile.html' %}
                <button class="red-btn create-profile-save-btn" type="submit" name="save-comment-send-btn">Сохранить</button>
            </form>
        </div>
    </section>

</main>

{% endblock %}