{% load my_tags %}

{% csrf_token %}
<table>
    {% for field in registration_form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                <div>
                    <ul>
                        {{ field|addcss:'txt-box user-field-input' }}
                        {% for error in field.errors %}
                            <li class="create-user-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
