/*------------------------------------------------*/
/*Таблица вывода всех пользователей*/
.users-list {
    width: 1070px;
    background-color: #f8f7f4;
    background-image: url("../img/background_wafer.jpg");
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding-top: 21px;
    padding-right: 13px;
    padding-bottom: 21px;
    padding-left: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.users-list-content-table {
    display: table;
    table-layout: fixed;
    font-size: 13px;
    line-height: 1.23em;
    margin-bottom: 18px;
    width: 100%
}

.users-list-table-row {
    display: table-row;
}

.users-list-table-cel {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    border-bottom: 1px solid #838380;
}

.users-list-table-cel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.users-list-table-cel:nth-child(1) {
    width: 12%;
}

.users-list-table-cel:nth-child(2) {
    width: 12%;
}

.users-list-table-cel:nth-child(3) {
    width: 12%;
}

.users-list-table-cel:nth-child(4) {
    width: 24%;
}

.users-list-table-cel:nth-child(5) {
    width: 15%;
}

.users-list-table-cel:nth-child(6) {
    width: 35%;
}
/*------------------------------------------------*/

/*------------------------------------------------*/
/*Таблица вывода всех пользователей*/

.users-filter-item-container {
    display: inline-block;
    margin-bottom: 20px;
}

.users-users-filter-item-label {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: normal;
    color: #000000;
    margin-bottom: 5px;
}

.users-filter-item-control {
    padding-right: 10px;
}

.user-txt-box {
    height: 33px;
    width: 140px;
}

.user-filter-btn {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    line-height: 1.23em;
    font-weight: normal;
}
/*------------------------------------------------*/