{% extends "base.html" %}
{% load my_tags %}

{% block content %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><span class="breadcumbs-links-item">Товары</span></li>
                </ul>
            </div>
        </div>

        <section class="catalog">
            <div class="products-list">

                <form class="clearfix" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="products-list-content-table" style="width: 100%">
                        {% for field in form %}
                        <div class="products-list-table-row">
                            <div class="products-update-table-cel">
                                {{ field.label_tag }}
                            </div>
                            <div class="products-update-table-cel">
                                {% if field.field.widget|tag_name == 'ClearableFileInput' %}
                                    <div class="product-update-photo">
                                        <img src="{{ field|find_href_src }}" width="100px" height="100px"><br>
                                    </div>
                                    <div class="product-update-photo">
                                        {{ field }}
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.field.widget|tag_name == 'CheckboxInput' %}
                                    <label for="{{field.id_for_label}}" class="chck-product-labels--contrast"><span class="checkmark--contrast"></span></label>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <input class="red-btn product-btn wo-padding-top" type="submit" value="Сохранить">
                </form>

            </div>
        </section>

    </div>
</main>

{% endblock %}