{% extends "base.html" %}
{% load static %}
{% load my_tags %}

{% block content %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><span class="breadcumbs-links-item">Товары</span></li>
                </ul>
            </div>
        </div>
        <section class="catalog">
            <div class="products-list">
                <div class="products-list-content-table">

                    {% for item in object_list %}
                        <div class="products-list-table-row">
                            <div class="products-list-table-cel">
                                <img class="cart-icon-item" src="{{ media_url }}{{ item.photo }}" width="267" height="267" alt="{{ item.name }}">
                            </div>
                            <div class="products-list-table-cel">
                                <span class="item-in-cart">{{ item.name }}</span>
                            </div>
                            <div class="products-list-table-cel">
                                <a class="red-btn product-btn" href="{% url 'products_update' item.id %}">Редактировать</a>
                            </div>
                            <div class="products-list-table-cel">
                                <a class="red-btn product-btn" href="#">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            <div class="paginator clearfix">
                <ul class="paginator-links">

                    {% if page_obj.has_previous %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast" href="?page={{ page_obj.previous_page_number }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}

                    {% for page_num in paginator.num_pages|my_range %}
                        <li><a class="paginator-btn--contrast paginator-btn--contrast {% if page_num == page_obj.number %}paginator-btn--active--contrast{% endif %}" {% if page_num != page_obj.number %}href="?page={{ page_num }}"{% endif %}>{{ page_num }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast" href="?page={{ page_obj.next_page_number }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="products-list-footer clearfix">
                <a class="red-btn product-btn" href="#">Добавить</a>
            </div>

        </div>
        </section>

    </div>
</main>

{% endblock %}