{% extends "base.html" %}

{% block content %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><a class="breadcumbs-links-item" href="{% url 'products'%}?page={{ page_number }}">Товары</a></li>
                    <li><span class="breadcumbs-links-item">Создание нового товара</span></li>
                </ul>
            </div>
        </div>

        <section class="catalog">
            <div class="products-list">

                <form class="clearfix" method="post" action="" enctype="multipart/form-data">
                    {% include 'inc_product_form.html' %}
{#                    <input class="red-btn product-btn wo-padding-top" type="submit" value="Добавить">#}
                    <a class="red-btn product-btn" href="">Добавить</a>
                </form>

            </div>
        </section>

    </div>
</main>

{% endblock %}