{% extends "base.html" %}
{% load static %}
{% load my_tags %}

{% block content %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><span class="breadcumbs-links-item">Товары</span></li>
                </ul>
            </div>
        </div>
        <section class="catalog">
            <div class="products-list">
                <div class="products-list-content-table">

                    {% for item in object_list %}
                        <div class="products-list-table-row">
                            <div class="products-list-table-cel">
                                <img class="cart-icon-item" src="{{ media_url }}{{ item.photo }}" width="267" height="267" alt="{{ item.name }}">
                            </div>
                            <div class="products-list-table-cel">
                                <span class="item-in-cart">{{ item.name }}</span>
                            </div>
                            <div class="products-list-table-cel">
                                <span class="item-in-cart">{{ item.price }} руб.</span>
                            </div>
                            <div class="products-list-table-cel">
                                <a class="red-btn product-btn" href="{% url 'products_update' pk=item.id %}">Редактировать</a>
                            </div>
                            <div class="products-list-table-cel">
                                <a class="red-btn product-btn delete-product-btn" href="#" data-id="{{ item.pk }}" data-name="{{ item.name }}">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            <div class="paginator clearfix">
                <ul class="paginator-links">

                    {% if page_obj.has_previous %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast" href="?page={{ page_obj.previous_page_number }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast left-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}

                    {% for page_num in paginator.num_pages|my_range %}
                        <li><a class="paginator-btn--contrast paginator-btn--contrast {% if page_num == page_obj.number %}paginator-btn--active--contrast{% endif %}" {% if page_num != page_obj.number %}href="?page={{ page_num }}"{% endif %}>{{ page_num }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast" href="?page={{ page_obj.next_page_number }}"></a></li>
                    {% else %}
                        <li><a class="paginator-btn-arrow--contrast right-arrow--contrast arrow-disabled--contrast"></a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="products-list-footer clearfix">
                <a class="red-btn product-btn" href="{% url 'products_create' %}">Добавить</a>
            </div>

        </div>
        </section>

        <section class="confirm-delete hideme">
            <div class="confirm-delete-container clearfix" style="height: 250px">
                <button class="confirm-delete-form-close-btn" type="button" title="Закрыть">Закрыть</button>
                <p class="confirm-delete-title">
                    Удаление товара
                </p>
                <div class="txt-box-container">
                    <p class="confirm-delete-message"></p>
                </div>
                <form class="confirm-delete-form" action="{% url 'products_delete' pk=0 %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="red-btn confirm-delete-btn" name="confirm-delete" value="Удалить">
                </form>


            </div>
        </section>


    </div>
</main>

{% endblock %}