{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Глейси</title>
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body class="index-site">
        <header class="main-header">
            <div class="center-container clearfix">

                <div class="logo">
                    <img src="{% static "img/gllacy_logo.png" %}" width="154" height="64" alt="Gllacy shop">
                </div>

                <nav class="main-navigation">

                    <section class="navigation-left-side">
                        <ul class="navigation-left-menu">
                            <li>
                                <a class="main-menu-btn" href="#">Каталог</a>
                                <ul class="main-sub-menu">
                                    <li class="special-item"><a class="main-sub-menu-item special-link" href="#">Новинки</a></li>
                                    <li><a class="main-sub-menu-item" href="catalog.html">Сливочное</a></li>
                                    <li><a class="main-sub-menu-item" href="#">Щербеты</a></li>
                                    <li><a class="main-sub-menu-item" href="#">Фруктовый лед</a></li>
                                    <li><a class="main-sub-menu-item" href="#">Мелорин</a></li>
                                </ul>
                            </li>
                            <li><a class="main-menu-btn" href="#">Доставка и оплата</a></li>
                            <li><a class="main-menu-btn" href="#">О Компании</a></li>
                            <li class="user_panel">{% include "inc_user_auth_panel.html" %}</li>
                        </ul>
                    </section>

                    <section class="navigation-right-side">
                        <form class="navigation-right-menu-search" action="#" method="get">
                            <button class="rounded-btn search-btn" type="submit" name="search-btn">Поиск</button>
                            <div class="find-form">
                                <div class="txt-box-container">
                                    <input class="txt-box text-search" type="text" name="text-search" placeholder="Что ищем?" required>
                                    <span class="txt-box-lable">Что ищем?</span>
                                </div>
                            </div>
                        </form>

                        {% include "inc_authrorize.html" %}

                        <div class="navigation-right-menu-cart">
                            <a class="rounded-btn cart-btn">Пусто</a>
                        </div>
                    </section>

                </nav>
            </div>
        </header>

        {% block home_main %}
        {% endblock %}

        {% block products %}
        {% endblock %}

        <footer class="main-footer">
            <div class="center-container clearfix">

                <section class="footer-social">
                    <a class="social-btn-border social-btn-twt" href="">Твиттер</a>
                    <a class="social-btn-border social-btn-inst" href="">Инстаграм</a>
                    <a class="social-btn-border social-btn-fb" href="">Фейсбук</a>
                    <a class="social-btn-border social-btn-vk" href="">Вконтакте</a>
                </section>

                <div class="footer-links-table">
                    <div class="footer-links-row">
                        <div class="footer-links-cel">
                            <a class="footer-link footer-link-hart" href="#">Для поставщиков</a>
                        </div>
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">Наши документы</a>
                        </div>
                    </div>
                    <div class="footer-links-row">
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">О производстве</a>
                        </div>
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">Экологические стандарты</a>
                        </div>
                    </div>
                </div>

                <section class="footer-copyright clearfix">
                    <a class="footer-copyright-logo footer-link" href="#">Git</a>
                    <p class="footer-copyright-description">Сделано Садовенко Дмитрием © 2017</p>
                </section>

            </div>
        </footer>

        <script src="{% static "js/utils.js" %}"></script>
        <script src="{% static "js/backend.js" %}"></script>
        <script src="{% static "js/auth.js" %}"></script>
        {% if current_page == "home"%}
        <script src="{% static "js/slider.js" %}"></script>
        {% endif %}
    </body>
</html>