{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Глейси</title>
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/paginator-contrast.css" %}">
        <link rel="stylesheet" href="{% static "css/controls-contrast.css" %}">
        <link rel="stylesheet" href="{% static "css/confirm-delete.css" %}">
        <link rel="stylesheet" href="{% static "css/products-table.css" %}">
        <link rel="stylesheet" href="{% static "css/users-table.css" %}">
        <link rel="stylesheet" href="{% static "css/create-user.css" %}">
        <link rel="stylesheet" href="{% static "css/confirm_order.css" %}">
        <link rel="stylesheet" href="{% static "css/create-profile.css" %}">
        <link rel="stylesheet" href="{% static "css/order-table.css" %}">
    </head>
    <body class="{% if current_site == "home"%}home-site{% else %}other-site{% endif %}">
        <header class="main-header">
            <div class="center-container clearfix">

                <div class="logo">
                    <a href="/"><img src="{% static "img/gllacy_logo.png" %}" width="154" height="64" alt="Gllacy shop"></a>
                </div>

                <nav class="main-navigation">

                    <section class="navigation-left-side">
                        <ul class="navigation-left-menu">
                            <li>
                                <a class="main-menu-btn {% if current_site == 'catalog'%}main-menu-btn-active{% endif %}" href="#">Каталог</a>
                                <ul class="main-sub-menu">
                                    {% for item in category_list %}
                                    <li {% if forloop.first %}class="special-item"{% endif %}><a class="main-sub-menu-item {% if forloop.first %}special-link{% endif %} {% if current_category == item.name %}main-sub-menu-item-active{% endif %}" href="{% url 'catalog' category_name=item.name.split|join:"_" %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a class="main-menu-btn" href="#">Доставка и оплата</a></li>
                            <li><a class="main-menu-btn" href="#">О Компании</a></li>
                            <li class="user_panel">{% include "inc_user_auth_panel.html" %}</li>
                        </ul>
                    </section>

                    <section class="navigation-right-side">
                        <form class="navigation-right-menu-search" action="#" method="get">
                            <button class="rounded-btn search-btn" type="submit" name="search-btn">Поиск</button>
                            <div class="find-form">
                                <div class="txt-box-container">
                                    <input class="txt-box text-search" type="text" name="text-search" placeholder="Что ищем?" required>
                                    <span class="txt-box-lable">Что ищем?</span>
                                </div>
                            </div>
                        </form>

                        {% include "inc_authrorize.html" %}

                        <div class="navigation-right-menu-cart">
                            <a id="cart-btn" class="rounded-btn cart-btn-empty">Пусто</a>
                            <div class="cart-content hideme">
                                <div class="cart-content-table">
                                    {% include 'inc_template_cart_row.html' %}
                                </div>
                                <div class="cart-footer">
                                    <p class="cart-total-price"></p>
                                    <a class="red-btn make-order-btn" href="/order/">Оформить заказ</a>
                                </div>
                            </div>
                        </div>
                    </section>

                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <section class="create-user hideme">
            <div class="create-user-container clearfix">
                <button class="create-user-form-close-btn" type="button" title="Закрыть">Закрыть</button>
                <p class="create-user-title">
                    Регистрация
                </p>
                <form class="create-user-form clearfix">
                    {% include "inc_create_user.html" %}
                    <button class="red-btn create-user-send-btn" type="submit" name="create-user-send-btn">Зарегистрироваться</button>
                </form>
            </div>
        </section>

        <footer class="main-footer">
            <div class="center-container clearfix">

                <section class="footer-social">
                    <a class="social-btn-border social-btn-twt" href="">Твиттер</a>
                    <a class="social-btn-border social-btn-inst" href="">Инстаграм</a>
                    <a class="social-btn-border social-btn-fb" href="">Фейсбук</a>
                    <a class="social-btn-border social-btn-vk" href="">Вконтакте</a>
                </section>

                <div class="footer-links-table">
                    <div class="footer-links-row">
                        <div class="footer-links-cel">
                            <a class="footer-link footer-link-hart" href="#">Для поставщиков</a>
                        </div>
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">Наши документы</a>
                        </div>
                    </div>
                    <div class="footer-links-row">
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">О производстве</a>
                        </div>
                        <div class="footer-links-cel">
                            <a class="footer-link" href="#">Экологические стандарты</a>
                        </div>
                    </div>
                </div>

                <section class="footer-copyright clearfix">
                    <a class="footer-copyright-logo footer-link" href="https://github.com/fikfok/gllacyshop">Git</a>
                    <p class="footer-copyright-description">Сделано Садовенко Дмитрием © 2017</p>
                </section>

            </div>
        </footer>

        <script src="{% static "js/cart.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>
        <script src="{% static "js/backend.js" %}"></script>
        <script src="{% static "js/auth.js" %}"></script>
        {% if current_site == "home"%}
        <script src="{% static "js/slider.js" %}"></script>
        <script src="{% static "js/feedback.js" %}"></script>
        <script src="{% static "js/home.js" %}"></script>
        {% elif current_site == "products_list"%}
        <script src="{% static "js/products_list.js" %}"></script>
        {% endif %}
        {% if not user.is_authenticated %}
            <script src="{% static "js/create_user.js" %}"></script>
        {% endif %}
        <script src="{% static "js/do_shopping.js" %}"></script>
         {% if current_site == "confirm_order" %}
            <script src="{% static "js/confirm_order.js" %}"></script>
         {% endif %}
         {% if current_site == "manage_orders" %}
            <script src="{% static "js/manage_orders.js" %}"></script>
         {% endif %}

    </body>
</html>
