<template id="template-cart-row">
    <div class="cart-table-row">
        <div class="cart-table-cel">
            <button class="cart-delete-item" type="button" title="Удалить" data-prod-id="">Удалить</button>
        </div>
        <div class="cart-table-cel">
            <img class="cart-icon-item" src="{{ media_url }}" width="33" height="33">
        </div>
        <div class="cart-table-cel">
            <span class="item-in-cart"></span>
        </div>
        <div class="cart-table-cel">
            <span class="item-in-cart-weight"></span><span class="item-in-cart-price"></span>
        </div>
        <div class="cart-table-cel">
            <span class="item-in-cart-total"></span>
        </div>
    </div>
</template>
