<template id="cart-template" class="hideme">
    <div class="cart-content">
        <div class="cart-content-table">
            <div class="cart-table-row">
                <div class="cart-table-cel">
                    <button class="cart-delete-item" type="button" title="Удалить">Удалить</button>
                </div>
                <div class="cart-table-cel">
                    <img class="cart-icon-item" src="" width="33" height="33" alt="">
                </div>
                <div class="cart-table-cel">
                    <span class="item-in-cart"></span>
                </div>
                <div class="cart-table-cel">
                    <span class="item-in-cart-weight"></span><span class="item-in-cart-price"></span>
                </div>
                <div class="cart-table-cel">
                    <span class="item-in-cart-total"></span>
                </div>
            </div>
        </div>
        <div class="cart-footer">
            <p class="cart-total-price"></p>
            <a class="red-btn make-order-btn" href="">Оформить заказ</a>
        </div>
    </div>
</template>