{% extends "base.html" %}
{% load static %}

{% block home_main %}
<main class="main-container">

    <div class="center-container">

        <div class="main-container-header clearfix">

            <div class="breadcrumbs">
                <ul class="breadcrumbs-links">
                    <li><a class="breadcumbs-links-item" href="/">Главная</a></li>
                    <li><span class="breadcumbs-links-item">Товары</span></li>
                </ul>
            </div>

        </div>

    </div>
</main>

{% endblock %}