<form class="navigation-right-menu-authorize {% if user.is_authenticated %}user_is_authenticated{% endif %}">
    {% csrf_token %}
    {% if not user.is_authenticated %}
        <a class="rounded-btn authorize-btn login-img">Вход</a>
    {% else %}
        <a class="rounded-btn authorize-btn logout-img logout-btn">Выход</a>
    {% endif %}

    <div class="authorize-form hideme clearfix">
        <div class="txt-box-container">
            <input class="txt-box text-authorize-login" type="text" name="login" placeholder="Логин" required>
            <span class="txt-box-lable">Логин</span>
        </div>
        <div class="txt-box-container">
            <input class="txt-box authorize-password" type="password" name="password" placeholder="Пароль" required>
            <span class="txt-box-lable">Пароль</span>
        </div>
        <button class="red-btn authorize-login-btn" type="submit" name="authorize-login-btn">Войти</button>
        <div class="help-login">
            <a id="forget-password" class="help-login-link">Забыли пароль?</a>
            <a id="create-user" class="help-login-link">Новая регистрация</a>
        </div>
        <div class="authorize-form-error-block hideme">
            <p class="authorize-form-error-title">Введены неверные логин/пароль</p>
        </div>
    </div>
</form>
